
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 320px;
  transition: all 0.3s ease;
}

.container:hover {
  transform: scale(1.02);
}


h2 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}


input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  color: #333;
  transition: all 0.2s ease-in-out;
}

input:focus, select:focus {
  box-shadow: 0 0 5px #ffffff;
  background: #fff;
}


button {
  width: 100%;
  background: goldenrod;
  background: linear-gradient(90deg, #0072ff, #00c6ff);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  transform: translateY(-2px);
}


@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 30px;
  }
}

